# 원핫인코딩
https://ldjwj.github.io/ML_Basic_Class/part03_ml/ch04_01_01_FE_OneHotEncoding_01.html
https://ldjwj.github.io/ML_Basic_Class/part03_ml/ch04_01_02_FE_OneHotEncoding_02.html

In [30]:
import pandas as pd
data = {'eng': ['b', 'c', 'a', 'd']}
df = pd.DataFrame(data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

  eng
0   b
1   c
2   a
3   d

In [31]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [32]:
en_x = LabelEncoder()
df['eng_label'] = en_x.fit_transform(df['eng'])
df

  eng  eng_label
0   b          1
1   c          2
2   a          0
3   d          3

In [35]:
onehot = OneHotEncoder()
val = df['eng_label'].values.reshape(-1,1)
y = onehot.fit_transform(val).toarray()
y

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [8]:
onehot_val = pd.DataFrame(y, dtype=int)
df_new = pd.concat([df, onehot_val], axis=1)
df_new

  eng  eng_label  0  1  2  3
0   b          1  0  1  0  0
1   c          2  0  0  1  0
2   a          0  1  0  0  0
3   d          3  0  0  0  1

In [12]:
data = { "회사명": ["MS","Apple", "Google", "Google"]}
df = pd.DataFrame(data)
df

      회사명
0      MS
1   Apple
2  Google
3  Google

In [15]:
cm = LabelEncoder()
df['label'] = cm.fit_transform(df['회사명'])
df

      회사명  label
0      MS      2
1   Apple      0
2  Google      1
3  Google      1

In [20]:
oh = OneHotEncoder()
df_new = df['label'].values.reshape(-1,1)
df_new = oh.fit_transform(df_new).toarray()
df_new

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [22]:
ohv = pd.DataFrame(df_new, dtype=int)
df = pd.concat([df, ohv], axis=1)
df

      회사명  label  0  1  2
0      MS      2  0  0  1
1   Apple      0  1  0  0
2  Google      1  0  1  0
3  Google      1  0  1  0

In [24]:
demo_df = pd.DataFrame({"범주형_feature":['양말', '여우', '양말', '상자']})
onehot = pd.get_dummies(demo_df)
onehot

   범주형_feature_상자  범주형_feature_양말  범주형_feature_여우
0               0               1               0
1               0               0               1
2               0               1               0
3               1               0               0

In [27]:
data = { "회사명": ["MS","Apple", "Google", "Google"]}
df  = pd.DataFrame(data)
ohv = pd.get_dummies(df)
onehot = pd.concat([pd.DataFrame(data), ohv],axis=1)
onehot

      회사명  회사명_Apple  회사명_Google  회사명_MS
0      MS          0           0       1
1   Apple          1           0       0
2  Google          0           1       0
3  Google          0           1       0