In [1]:
import seaborn as sns

In [5]:
tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [48]:
tips_have = tips.iloc[0:220, ]
tips_new = tips.iloc[220:, ]
tips_new.drop(['size'],axis=1,inplace=True)
tips_have.shape, tips_new.shape

C:\Users\bman4\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

((220, 9), (24, 8))

In [49]:
sel = ['total_bill','tip']
X = tips_have[sel]
y = tips_have['size']

test_X = tips_new[sel]

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
model = RandomForestClassifier()
model.fit(X, y)
model.score(X, y)

1.0

In [10]:
from sklearn.model_selection import train_test_split

In [50]:
sel = ['total_bill','tip','sex_en','smoker_en']
X = tips_have[sel]
y = tips_have['size']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [51]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

print(model.score(X_train, y_train), model.score(X_test, y_test))

1.0 0.5454545454545454

# 과적합된 모델을 일반화 시키기

In [15]:
model = RandomForestClassifier(max_depth = 1)
model.fit(X_train, y_train)

print(model.score(X_train, y_train), model.score(X_test, y_test))

0.7272727272727273 0.6

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [52]:
model = RandomForestClassifier(max_depth=6, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train), model.score(X_test, y_test))

0.8848484848484849 0.5636363636363636

In [61]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

print(model.score(X_train, y_train), model.score(X_test, y_test))

0.7393939393939394 0.5636363636363636

In [57]:
model = DecisionTreeClassifier(max_depth=4)
model.fit(X_train, y_train)

print(model.score(X_train, y_train), model.score(X_test, y_test))

0.8 0.5818181818181818

In [55]:
model = SVC()
model.fit(X_train, y_train)

print(model.score(X_train, y_train), model.score(X_test, y_test))

0.7090909090909091 0.6

## Sex, Smoker 추가

In [38]:
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [39]:
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [44]:
dict_sex = {'Male':0, 'Female':1}
tips['sex_en'] = tips['sex'].map(dict_sex).astype('int32')
tips

     total_bill   tip     sex smoker   day    time  size  sex_en  smoker_en
0         16.99  1.01  Female     No   Sun  Dinner     2       1          0
1         10.34  1.66    Male     No   Sun  Dinner     3       0          0
2         21.01  3.50    Male     No   Sun  Dinner     3       0          0
3         23.68  3.31    Male     No   Sun  Dinner     2       0          0
4         24.59  3.61  Female     No   Sun  Dinner     4       1          0
..          ...   ...     ...    ...   ...     ...   ...     ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3       0          0
240       27.18  2.00  Female    Yes   Sat  Dinner     2       1          1
241       22.67  2.00    Male    Yes   Sat  Dinner     2       0          1
242       17.82  1.75    Male     No   Sat  Dinner     2       0          0
243       18.78  3.00  Female     No  Thur  Dinner     2       1          0

[244 rows x 9 columns]

In [45]:
dict_smo = {'No':0, 'Yes':1}
tips['smoker_en'] = tips['smoker'].map(dict_smo).astype('int32')
tips

     total_bill   tip     sex smoker   day    time  size  sex_en  smoker_en
0         16.99  1.01  Female     No   Sun  Dinner     2       1          0
1         10.34  1.66    Male     No   Sun  Dinner     3       0          0
2         21.01  3.50    Male     No   Sun  Dinner     3       0          0
3         23.68  3.31    Male     No   Sun  Dinner     2       0          0
4         24.59  3.61  Female     No   Sun  Dinner     4       1          0
..          ...   ...     ...    ...   ...     ...   ...     ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3       0          0
240       27.18  2.00  Female    Yes   Sat  Dinner     2       1          1
241       22.67  2.00    Male    Yes   Sat  Dinner     2       0          1
242       17.82  1.75    Male     No   Sat  Dinner     2       0          0
243       18.78  3.00  Female     No  Thur  Dinner     2       1          0

[244 rows x 9 columns]

KeyError: "['sex_en', 'smoker_en'] not in index"

# 랜덤포레스트

In [62]:
import platform
import matplotlib
from matplotlib import font_manager, rc
import matplotlib

In [63]:
path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    matplotlib.rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")

matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

In [64]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [65]:
from sklearn.datasets import load_breast_cancer
import mglearn
cancer = load_breast_cancer()

X = cancer.data
y = cancer.target

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                        stratify=cancer.target, 
                                        random_state=0)

In [66]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [67]:
model = KNeighborsClassifier()
model.fit(X_train,y_train)
print(model.score(X_train, y_train), model.score(X_test, y_test))

0.9460093896713615 0.916083916083916

In [68]:
model = RandomForestClassifier()
model.fit(X_train,y_train)
print(model.score(X_train, y_train), model.score(X_test, y_test))

1.0 0.958041958041958

In [69]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
print(model.score(X_train, y_train), model.score(X_test, y_test))

1.0 0.9230769230769231